<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Graph your die</title>
    <style>

    </style>
</head>
<body>
<header></header>
    <form method="POST">
        <p>please enter the formula for dice throws. please note that the more dice you roll the longer it will take.</p>
        <ul>
        operators supported:
        <li>+</li>
        <li>-</li>
        <li>*</li>
        <li>^</li>
        <li>d</li>
        </ul>
        <input type=text name=formula />
        <input type=submit />
    </form>
    <iframe src="{{ url_for('graph') }}" width="650" height="650"></iframe>
</body>
</html>